.login-form {
background-color: #ffffff;
padding: 2rem;
border-radius: 10px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
width: 300px;
}

.login-form h2 {
margin-bottom: 1rem;
text-align: center;
color: #333;
}

.form-group {
margin-bottom: 1rem;
}

.form-group label {
display: block;
margin-bottom: 0.5rem;
color: #555;
}

.form-group input {
width: 100%;
padding: 0.5rem;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 1rem;
}

.login-button {
width: 100%;
padding: 0.75rem;
background-color: #4c56af;
color: white;
border: none;
border-radius: 5px;
font-size: 1rem;
cursor: pointer;
}

.login-button:hover {
background-color: #4645a0;
}

.debug_info {
    color: grey;
    font-size: 10px;
}

.pokemon-logo {
    width: 150px;
    margin-bottom: 20px;
    background-color: #333;
    padding: 10%;
    border-radius: 10px;
  }

.loginError {
    color: rgb(160, 0, 0);
}